<p id="notice"><%= notice %></p>

<h1>Listing Musics</h1>

<table>
  <thead>
    <tr>
      <th style="width:100px">Name</th>
      <th style="width:100px">File</th>
      <th style="width:100px">Author</th>
      <th style="width:100px">Image</th>
      <th style="width:50px"></th>
      <th style="width:50px"></th>
      <th style="width:50px"></th>

    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.name %></td>
        <td><%= music.file %></td>
        <td><%= music.author %></td>
        <td><%= music.image %></td>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>
